*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    header{

        nav{
            background-color: black;
            opacity: 95%;
         
        }
        .good{
            width: 400px;
            text-align: center;
            align-items: end;
            font-size: xx-large;
            font-weight: bolder;
        }
        strong{
            color: gold;

        }
        form{
            margin-bottom: 10px;
            .sea{
                /* border: 1px solid white; */
                background-color:gold ;
                color: black;
                width: 100px;
                border-radius: 10px;
            }
            .active{
                background-color: black;
                color: gold;
            }
            /* button:hover{
                background-color: black;
                color: gold;
            } */
        }
    }
    main {
        width: 100%;
        margin-top: 48px;
        .carousel-container{
            .pics{
                margin-top: 15px;
                border: 1px solid black;
                height: 500px;
                width: 100%;
                background-color: black;
                img{
                    height: 100%;
                    object-fit: cover;
                    
                }
                .carousel-caption{
                    text-shadow: 4px 4px 10px black;
                
                }
            }
        }
        /* home card templete start */
        #car-body{
            .cars-container{
                /* display: grid;
                width: 100%;
                grid-template-columns: 300px 300px 300px 300px; */
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 25px;
                .card{
                    box-shadow: 2px 2px 2px 1px rgb(145, 129, 40);
                    background-color: black;
                    width: 250px;
                    height: 300px;
                    .row{
                        height: 50%;
                        overflow: hidden;
                        padding: 0;
                        /* border: 1px solid red; */
                        img{
                            height: 150px;
                            object-fit: cover;
                            padding: 0;
                        }
                    }
                    .card-body{
                        display: flex;
                        flex-direction: column;
                        
                        h5{
                            height: 30px;
                            padding: 2px;
                            a{
                                text-decoration: none;
                                color: white;
                            }
                            .active{
                                color: gold;
                            }
                            a:hover{
                                color: gold;
                            }
                        }
                        .card-price{
                            font-size: larger;
                            height: 10px;
                            color: white;
                            margin-bottom: 20px;
                        }
                        .card-see{
                            a{
                                text-decoration: none;
                                color: white;
                                height: 10px;
                                /* border: 1px solid gold; */
                                margin: auto;
                            }
                            .active{
                                color: gold;
                            }
                            a:hover{
                                color: gold;
                            }
                        }
                    }
                    a.btn{
                        border-radius: 5px;
                        width: 50%;
                        margin: auto;
                    }
                    .active{
                        background-color: black;
                        color: gold;
                    }
                }
            }
        }
        /*  home card template ends */
        /* car detail template start */
        .detail-container{
            .detaol-row{
                justify-items: center;
                .detail-col{
                    width: 800px;
                    height: 500px;
                    border-radius: 5px ;
                    img{
                        margin-top: 14px;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    .detail-table{
                       width: 800px;
                       background-color: rgb(198, 194, 194);
                        th,td{
                            border: 2px solid rgb(139, 139, 139);
                            padding: 5px;
                        }
                        
                    }
                    .detail-button{
                        display: flex;
                        justify-content: space-around;
                        a{
                            margin-bottom: 40px;
                            width: 160px;
                            margin-top: 5px;
                        }
                    }
                }
            }
        }
        /* car detail template end */

        /* car edit template  start*/
        .add-wel{
            padding: 25px;
            text-align: center;
            /* border: 1px solid black; */
            height: 80px;
            text-shadow: 4px 4px 10px rgb(145, 129, 40);
        }
        .add-car{
            /* border: 1px solid black; */
            background-color: black;
            box-shadow: 2px 2px 2px 1px rgb(145, 129, 40);
            border-radius: 0px 5px;
            height: auto;
            width: 23%;
            margin: auto;
            justify-items: center;
            .add-form{
                color: white;
                /* margin-top: 70px; */
                padding: auto;
            }
            button.btn{
                width: 100%;
                margin-bottom: 5px;
            }
        }
        /* car  edit template edns */
        /* car delete template starts */
        .del-del{
            /* border: 1px solid black; */
            /* margin: auto; */
            padding: 20px;
            height: 60px;
            text-align: center;
            text-shadow: 4px 4px 10px rgb(145, 129, 40);
        }
        .del-car{
            /* border: 1px solid black; */
            height: 50px;
            padding: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            
        }

        /* car delete template ends */
        /* car add template starts */
        .ad-car{
            width: 24%;
            /* border: 1px solid black; */
            /* display: flex; */
            /* flex-direction: row; */
            /* margin: auto; */
            .add-new{
                display: flex;
                flex-wrap: wrap;
                /* flex-direction: row; */
                .add-newd{
                    /* display: flex; */
                    /* flex-direction: row; */
                }
            }
        }
        /* car add templete ends */

    }
}

.border-alternate {
    border-radius: 0px 10px ;
    overflow: hidden;
}

