{% extends 'base.html' %}

{% block title %}
U-drive|About
{% endblock %}

{% block content %}
<h1 class="about">About Us:</h1>
<p class="about-info">Welcome to U-Drive, your trusted car rental partner. Founded in <b>2025</b> , U-Drive was created with a mission to simplify the car rental process and bring flexibility, convenience, and reliability to your travel experience. Whether you're planning a short trip, a long vacation, or need a vehicle for daily use, U-Drive offers a wide selection of cars to match every need and budget.
Our easy-to-use web app allows you to browse available cars, choose rental dates, add vehicles to your cart, and complete bookings online—all in just a few clicks. With built-in user profiles, secure checkout, and a clear rental history, managing your bookings has never been easier.
At U-Drive, we value customer satisfaction above all. Our team is here to support you at every step, ensuring your journey starts and ends smoothly.
We believe that renting a car should be as simple and stress-free as possible. Thats why we continuously update our platform, expand our vehicle options, and listen to customer feedback to improve your experience.
With U-Drive, youre not just renting a car—youre gaining the freedom to explore, commute, or escape on your own terms.
Join thousands of happy drivers who trust U-Drive—where your journey begins.</p>
<hr>
<h2 class="contact">Contact Us:</h2>
<p class="contact-info">📧 <b>Email</b> : <a href="mailto:pavanpgowda31@gmail.com" class="text-decoration-none">pavanpgowda31@gmail.com</a><br>
📞 <b>Phone</b>: +1 (800) 123-4567 <br>
📍 <b>Location</b>: No: 8, Outer Ring Rd, Kuvempu Nagar, BTM 2nd Stage, BTM Layout, Bengaluru, Karnataka 560076</p>
<p class="p-end"><b>Thank you for choosing U-Drive—drive your way, your time.</b></p>
{% endblock %}