{% extends 'base.html' %}
{%block title %}
Add car
{% endblock %}

{% block content %}
<h2 class=" add-add">
    Ready to add more? Your perfect set is just a few clicks away
</h2>
<div class="ad-car">
    <form class="add-form add-new" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        {% for field in form %}
        <div class="form-field form-control bg-dark  text-light add-newd row">
            <label for="{{field.name}}" class="label col-sm-3">{{field.name}}:</label>
            {{field}}
        </div>
        {% endfor %}
        <button  type="submit" class="btn btn-warning w-100">Add</button>
    </form>
</div>
{% endblock %}