<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <!-- cdn for bootstrap stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- linking custom stylesheet -->
     <link rel="stylesheet" href="{% static 'css/style.css' %}">
     <script src="{% static 'js/script.js' %}" defer></script>
     <link rel="shortcut icon" href="{% static 'image/icons/icon1.ico' %}" type="image/x-icon"  >
  </head>
  <body>
    <header>
          <nav class="navbar navbar-dark  py-0 fixed-top">
            <div class="container-fluid ">
              <button class="navbar-toggler border border-warning   " type="button"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions" >
                <span class="navbar-toggler-icon "></span>
              </button>
              <!-- <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel"><strong>U</strong>-Drive</h5> -->
              <div class="offcanvas offcanvas-start text-bg-dark" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
                <div class="offcanvas-header ">
                  {% if user.is_authenticated %}
                   <a href="{% url 'view_profile' %}" class="text-decoration-none "><h5><strong>Hi,</strong><b class="text-white">{{ user.username }}</b></h5></a>
                   {% else %}
                  <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel"><strong>U</strong>-Drive</h5>
                  {% endif %}
                  <button type="button" class="btn-close bg-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                      <a class="nav-link {% if current_page == 'home' %} text-warning {% endif %}" aria-current="page" href="{% url 'homepage' %}">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link {% if current_page == 'about' %} text-warning {% endif %}" aria-current="page" href="{% url 'aboutpage' %}">About</a>
                    </li>
                    <li class="nav-item">
                      <!-- <a class="nav-link {% if current_page == 'contact' %} text-warning {% endif %}" href="{% url 'contactpage' %}">Contact</a> -->
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                      <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="nav-link text-white">Logout</button>
                      </form>
                    </li>
                    {% if user.is_staff %}
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'add_car' %}">Add Cars</a>
                    </li>
                    {% endif %}

                    {% endif %}
                    <li class="nva-item">
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        More
                      </a>
                      <ul class="dropdown-menu dropdown-menu-dark">
                        {% if user.is_authenticated %}
                          <li><a class="dropdown-item" href="{% url 'booking:history' %}">Past Booking</a></li>
                        {% endif %}
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                          <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
              <a class="navbar-brand good " href="{% url 'homepage' %}"><strong>U</strong>-Drive</a>
              {% if not user.is_authenticated %}

              <a class="nav-link btn log-in text-light" aria-current="page" href="{% url 'signin' %}">Login</a>
              {% endif %}
              {% if search_bar %}
              <form class="d-flex mt-3 sele" role="search" method="get" action="{% url 'search' %}">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name ="search_text" value="{{query}}">
                <button class=" btn btn-warning" type="submit">Search</button>
              </form>
              {% endif %}
            </div>
          </nav>
    </header>
    <main >
        {% block content %}
        {% endblock %}
    </main>
    <footer class="bg-dark text-warning text-center bottom-0 position-fixed w-100" data-bs-theme="dark">
        &copy; 2025
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>