{% extends 'base.html' %}

{% block title %}
U-Drive|home
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <table>
            <div class="col">
                <img src="{{car.img.url}}" class="w-50 h-60" alt="">
                <td> fuel :{{car.fuel}}</td>
                <th>{{car.fuel}}</th>
                <th>{{car.fuel}}</th>
            </div>
            <div class="col">
             
            </div>
        </table>
    </div>

</div>
{% endblock %}
