{% extends 'base.html' %}

{% block title %}
U-Drive|Details
{% endblock %}

{% block content %}

<div class="detail-container">
    <div class="detaol-row">
        <div class="detail-col">
            <img src="{{car.img.url}}"  alt="">
            <table class="detail-table">
                <tr>
                    <th>Name</th>
                    <td>{{car.name}} </td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td> Rs.{{car.price}} </td>
                </tr>
                <tr>
                    <th>Fuel</th>
                    <td>{{car.fuel}} </td>
                </tr>
                <tr>
                    <th>Desc</th>
                    <td>{{car.desc}} </td>
                </tr>
                <tr>
                    <th>Driving Type</th>
                    <td>{{car.transmission}} </td>
                </tr>
                <tr>
                    <th>Seat</th>
                    <td>{{car.seat}} </td>
                </tr>
                <tr>
                    <th>MOY</th>
                    <td>{{car.year}} </td>
                </tr>
            </table>
            <p class="detail-button">
                <a href="" class="btn btn-secondary  center">Edit cars</a>
                <a href="" class="btn btn-danger center">Delete </a>
                <a href="" class="btn btn-warning  center ">Rent</a>
            </p>
        </div>
        
    </div>

</div>
{% endblock %}
