{% extends 'base.html' %}
{%block title %}
Edit car
{% endblock %}

{% block content %}
<h2 class="add-wel">
    Welcome! Ready to make some changes
</h2>
<div class="ed-car">
    <div class="ed-img">
        <img src="{{form.img.initial.url}}" alt="" >

    </div>
    <form class="add-form ed-new" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-field form-control bg-dark  text-light ed-newd row">
            <label for="{{field.name}}" class="label col-sm-0 px-2 ">{{field.name}}:</label>
            {{field}}
        </div>
        {% endfor %}
        <button  type="submit" class="btn btn-warning w-100">Add</button>
    </form>
</div>
{% endblock %}