{% extends 'base.html' %}

{% block title %}
U-Drive|home
{% endblock %}

{% block content %}
  <div class="carousel-container">
    <div id="carouselExample" class="carousel slide w-100" data-bs-ride="carousel">
      <div class="carousel-inner ">
        {% for car in cars %}
        <div class="carousel-item  {% if forloop.first %}active{% endif %} pics" data-bs-interval="50000">
          <a href="{% url 'car_detail' car.id %}">
          <img src="{{car.img.url}}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block ">
            <h5><strong>{{car.name}}</strong> </h5>
            <p><strong>{{car.caption}} </strong>.</p>
          </div>
        </a>
        </div>
        {% endfor %}
          
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <section id="car-body">
        <div class="cars-container">
            {% for car in cars %}
            <div class=" col-sm-2 card text-center mx-3 my-3 px-0 ">
              <div class="row h-50 w-100 px-0 mx-0">
                <a href="{% url 'car_detail' car.id %}">
                  <img class="w-100" src="{{car.img.url}}" alt="picture of {{car.name}}">
                </a>
              </div>
              <div class="row card-body h-50">
                <h5>
                  <a href="{% url 'car_detail' car.id %}">{{car.name}} </a>
                </h5>
                <p class="card-price">
                  Rs.{{car.price}}
                </p>
                <p class="card-see">
                  <a href="{% url 'car_detail' car.id %}">See More..</a>
                </p>
              </div>
              <a href="" class="btn btn-warning  center">Buy for rent</a>
            </div>

            {% endfor %}

        </div>
      </section>
    </div>
  <div>
{% endblock %}
