{% extends 'base.html' %}
{% load static %}
{% block title %}
Create profile
{% endblock %}
{% block content %}
<div class="create-profile">
    <div class="create-pro">
        <div class="profile-head">
            <h2 class="text-center profile-text ">Create Profile</h2>
        </div>
        <div class="from-profile">
            <form method="post " class="profile-info" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="text-bg-warning button-profile">Save Profile</button>
            </form>
        </div>
        
    </div>
    

</div>
{% endblock %}