{% extends 'base.html' %}
{% load static %}
{% block title %}
edit profile
{% endblock %}
{% block content %}

<div class="create-profile">
    <!-- <img src="{% static 'image/carouasel/img1.jpg' %}" alt="Logo" > -->
    
    <div class="create-pro">
        <div class="profile-head">
            <h2 class="text-center profile-text">Edit Profile</h2>
        </div>
        <div class="from-profile">
            <form method="POST" class="profile-info" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="text-bg-warning button-profile">Save Changes</button>
            </form>
        </div>
        
    </div>
</div>


{% endblock %}