{% extends 'base.html' %}
{% load static %}
{% block title %}
Login
{% endblock %}
{% block content %}
<div class="log-container d-block justify-content-center align-items-center min-vh-80">
    <div class="log-card  ">
        <h2 class=" log-text mb-4 text-center ">
            Log In 
        </h2>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="mb-3">
                <div class="log-name"><strong>{{ field.name }}:</strong></div>
                <label for="{{field.id_for_lable}}" class="form-lable">{{field.lable}}</label>
                {{field}}
                {% if field.error %}
                <div class="text-danger small">
                    {{field.error | striptags}}
                </div>
                {% endif %}
            </div>
            {% endfor %}
            <div>
                <h6 class="log-text">
                    New Register?
                <a href="{% url 'signup'%}">Sign up</a>
                </h6>
            </div>
            <button type="submit" class="btn btn-warning center">Login</button>
        </form>
    </div>
</div>
{% endblock %}